


      

      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #mapPlace {
        height: 100%;
		width:80%;
		float:right;
		
      }
	  
	  #allBtn{
		  padding:15px;
	  }
	  
	  #modalarea{
		  font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
	  }
	  #panel{
		  width:20%;
		  float: left;
		  
	  }
	  #allBtn{
		  text-align:center;
		  
	  }
	  
	  #checkboxDiv{
			padding-left:40px;
	  }
	  
	  #delBtn{
		  text-align:center;
		  padding:20px;
	  }
	  
	  #viewBtn{
		  text-align:center;
		  padding:20px;
	  }
	  
	  #selectID{
		  padding-top: 500px;
		 text-align:center;
		 padding-right:750px;
		 
	  }
	  select{
		  height:30px;
		  width:200px
	  }
	  
	  h1{
		  color:white;
		  padding-top: 400px;
		  text-align:center;
	  }
	
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
	  
	  body {
	  background-color:#FFFFFF;
	  }
	  
	  html {
	scroll-behavior: smooth;
	}
	
	
	  
	  #section1 {
		height: 15%;
		background-size:100%;
		  background-image:url("newbg.jpg");
	 background-repeat:no-repeat;
		  
	  }
	  
	  #border {
		  background-color:red;
	  }
	  
	  
	  #cbDiv {
		  padding:10px;
	  }
	  
	  
	  #myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 2px;
}

#myBtn:hover {
  background-color: #FFFFFF;
  
}
.starrr {
  display: inline-block; }
  .starrr a {
    font-size: 40px;
    padding: 0 1px;
    cursor: pointer;
    color: #d9534f;
    text-decoration: none; }
	

	.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.pac-container {
        z-index: 1051 !important;
    }



	.resp-sharing-button__link,
	.resp-sharing-button__icon {
	  display: inline-block
	}
	
	.resp-sharing-button__link {
	  text-decoration: none;
	  color: #fff;
	  margin: 0.5em
	}
	
	.resp-sharing-button {
	  border-radius: 5px;
	  transition: 25ms ease-out;
	  padding: 0.5em 0.75em;
	  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
	}
	
	.resp-sharing-button__icon svg {
	  width: 100px;
	  height: 100px;
	  margin-right: 0.4em;
	  vertical-align: top
	}
	
	.resp-sharing-button--small svg {
	  margin: 0;
	  vertical-align: middle
	}
	
	/* Non solid icons get a stroke */
	.resp-sharing-button__icon {
	  stroke: #fff;
	  fill: none
	}
	
	/* Solid icons get a fill */
	.resp-sharing-button__icon--solid,
	.resp-sharing-button__icon--solidcircle {
	  fill: #fff;
	  stroke: none
	}
	
	.resp-sharing-button--twitter {
	  background-color: #55acee
	}
	
	.resp-sharing-button--twitter:hover {
	  background-color: #2795e9
	}
	
	.resp-sharing-button--pinterest {
	  background-color: #bd081c
	}
	
	.resp-sharing-button--pinterest:hover {
	  background-color: #8c0615
	}
	
	.resp-sharing-button--facebook {
	  background-color: #3b5998
	}
	
	.resp-sharing-button--facebook:hover {
	  background-color: #2d4373
	}
	
	.resp-sharing-button--tumblr {
	  background-color: #35465C
	}
	
	.resp-sharing-button--tumblr:hover {
	  background-color: #222d3c
	}
	
	.resp-sharing-button--reddit {
	  background-color: #5f99cf
	}
	
	.resp-sharing-button--reddit:hover {
	  background-color: #3a80c1
	}
	
	.resp-sharing-button--google {
	  background-color: #dd4b39
	}
	
	.resp-sharing-button--google:hover {
	  background-color: #c23321
	}
	
	.resp-sharing-button--linkedin {
	  background-color: #0077b5
	}
	
	.resp-sharing-button--linkedin:hover {
	  background-color: #046293
	}
	
	.resp-sharing-button--email {
	  background-color: #777
	}
	
	.resp-sharing-button--email:hover {
	  background-color: #5e5e5e
	}
	
	.resp-sharing-button--xing {
	  background-color: #1a7576
	}
	
	.resp-sharing-button--xing:hover {
	  background-color: #114c4c
	}
	
	.resp-sharing-button--whatsapp {
	  background-color: #25D366
	}
	
	.resp-sharing-button--whatsapp:hover {
	  background-color: #1da851
	}
	
	.resp-sharing-button--hackernews {
	background-color: #FF6600
	}
	.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }
	
	.resp-sharing-button--vk {
	  background-color: #507299
	}
	
	.resp-sharing-button--vk:hover {
	  background-color: #43648c
	}
	
	.resp-sharing-button--facebook {
	  background-color: #3b5998;
	  border-color: #3b5998;
	}
	
	.resp-sharing-button--facebook:hover,
	.resp-sharing-button--facebook:active {
	  background-color: #2d4373;
	  border-color: #2d4373;
	}
	
	.resp-sharing-button--twitter {
	  background-color: #55acee;
	  border-color: #55acee;
	}
	
	.resp-sharing-button--twitter:hover,
	.resp-sharing-button--twitter:active {
	  background-color: #2795e9;
	  border-color: #2795e9;
	}
	
	.resp-sharing-button--google {
	  background-color: #dd4b39;
	  border-color: #dd4b39;
	}
	
	.resp-sharing-button--google:hover,
	.resp-sharing-button--google:active {
	  background-color: #c23321;
	  border-color: #c23321;
	}
	
	.resp-sharing-button--tumblr {
	  background-color: #35465C;
	  border-color: #35465C;
	}
	
	.resp-sharing-button--tumblr:hover,
	.resp-sharing-button--tumblr:active {
	  background-color: #222d3c;
	  border-color: #222d3c;
	}
	
	.resp-sharing-button--email {
	  background-color: #777777;
	  border-color: #777777;
	}
	
	.resp-sharing-button--email:hover,
	.resp-sharing-button--email:active {
	  background-color: #5e5e5e;
	  border-color: #5e5e5e;
	}
	
	.resp-sharing-button--pinterest {
	  background-color: #bd081c;
	  border-color: #bd081c;
	}
	
	.resp-sharing-button--pinterest:hover,
	.resp-sharing-button--pinterest:active {
	  background-color: #8c0615;
	  border-color: #8c0615;
	}
	

